body {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

header {
    background-color: #F44336;
}

header>a {
    text-decoration: none;
}

header h1 {
    color: white;
    margin-left: 8px;
}

header > div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
header > div i{
    margin-top: 30px;
    margin-right: 8px;
}
header > div a{
    text-decoration: none;
    color: white;
}
nav{
    padding: 4px;
}
nav ul li a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
#nuevaTarea {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

#nuevaTarea a {
    background-color: #F44336;
    display: inline-block;
    border-radius: 32px;
    padding: 8px;
    margin: 8px;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#nuevaTarea a:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

form{
    height: 45vh;
}

article {
    margin: 12px;
    padding: 12px;
    background-color: #777;
    position: relative;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.descripcion p{
    text-align: justify;
}

article > div,
.pie {
    display: flex;
    justify-content: space-between;
}

.descripcion {
    margin-bottom: 30px;
}

.pie{
    position: absolute;
    bottom: 0;
    width: 95%;
}

.pie div a i {
    color: white;
}

.pie div p {
    margin: 0px;
}

article:hover{
    transform: scale(1.05);
    transition: 0.5s;
}



.modificarYBorrar a:hover i{
    transform: rotate(-360deg);
    transition: 0.5s;
}

footer {
    background-color: #F44336;
    padding: 12px;
}

footer div img {
    width: 32px;
    height: 32px;
}

nav ul li{
    display: none;
}

.topnavresponsive{
    position: relative;
    padding: 0;
    
}

.topnavresponsive li{
    margin: 8px;
    display: block;
    text-align: center;
    border: 1px solid white;
}

h2 {
    color: #F44336;
    text-align: center;
}

form {
    margin: 60px 0px 60px;
    text-align: center;
    padding: 8px;
}

form input,
select,
textarea {
    width: 90%;
    margin: 8px;
}

input[type=text]:invalid,input[type=date]:invalid{
    border: 1px solid red;
}
textarea:invalid{
    border: 1px solid red;
}
select:invalid{
    border: 1px solid red;
}
input[type=text],input[type=date]:valid{
    border: 1px solid green;
}
textarea:valid{
    border: 1px solid green;
}
select:valid{
    border: 1px solid green;
}
input:placeholder-shown{
    box-shadow: 2px 2px red;
}
label{
    color: black;
}


@media screen and (max-width:1024px) and (min-width:600px) {
    main section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    form input,
    select,
    textarea {
        width: 70%;
    }
}

@media screen and (min-width:1024px) {
    header{
        display: flex;
        justify-content: space-between;
    }
    #abrirMenu{
        display: none;
    }
    .topnavresponsive li {
        display: inline-block;
        border: none;
    }
    main section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    nav ul li{
        display: inline-block
    }

    form input,
    select,
    textarea {
        width: 50%;
    }
}