main {
    text-align: center;
    display: flex;
    justify-content: center;
}

form {
    background-image: linear-gradient(brown, #3F51B5);
    padding: 16px;
    border-radius: 8px;
}

#nombre:invalid, #email:invalid {
    border: 2px solid red;
}
textarea:invalid {
    border: 2px solid red;
}

#nombre:valid, #email:valid {
    border: 2px solid green;
}
textarea:valid {
    border: 2px solid green;
}
#enviar{
    border-radius: 8px;
}